# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 24.11.3
ag2=0.5.3=pypi_0
aiofile=3.9.0=pypi_0
aiofiles=24.1.0=pypi_0
aiohappyeyeballs=2.4.4=py310hca03da5_0
aiohttp=3.10.11=pypi_0
aiolimiter=1.2.1=pypi_0
aiosignal=1.2.0=pyhd3eb1b0_0
aiosqlite=0.20.0=pypi_0
alembic=1.14.1=pypi_0
altair=5.5.0=pypi_0
annotated-types=0.6.0=py310hca03da5_0
anthropic=0.45.0=pypi_0
anyio=4.8.0=pypi_0
appdirs=1.4.4=pypi_0
appnope=0.1.4=pyhd8ed1ab_1
arize-phoenix-otel=0.7.1=pypi_0
asgiref=3.8.1=pypi_0
assemblyai=0.35.1=pypi_0
astra-assistants=2.2.9=pypi_0
astrapy=1.5.2=pypi_0
asttokens=3.0.0=pyhd8ed1ab_1
async-timeout=4.0.3=py310hca03da5_0
asyncer=0.0.8=pypi_0
atlassian-python-api=3.41.16=pypi_0
attrs=24.3.0=py310hca03da5_0
auth0-python=4.7.2=pypi_0
authlib=1.3.1=pypi_0
backoff=2.2.1=pypi_0
backports-tarfile=1.2.0=pypi_0
bce-python-sdk=0.9.25=pypi_0
bcrypt=4.0.1=pypi_0
beautifulsoup4=4.12.3=pypi_0
blas=1.0=openblas
blinker=1.9.0=pypi_0
boto3=1.34.162=pypi_0
botocore=1.34.162=pypi_0
bottleneck=1.4.2=py310hbda83bc_0
brotli-python=1.0.9=py310h313beb8_8
build=1.2.2.post1=pypi_0
bzip2=1.0.8=h80987f9_6
ca-certificates=2024.12.14=hf0a4a13_0
cachetools=5.5.0=pypi_0
caio=0.9.21=pypi_0
cassandra-driver=3.29.2=pypi_0
cassio=0.1.10=pypi_0
cattrs=24.1.2=pypi_0
certifi=2024.8.30=pypi_0
cffi=1.17.1=pypi_0
chardet=5.2.0=pypi_0
charset-normalizer=3.3.2=pyhd3eb1b0_0
chroma-hnswlib=0.7.6=pypi_0
chromadb=0.5.23=pypi_0
clevercsv=0.8.3=pypi_0
click=8.1.7=py310hca03da5_0
clickhouse-connect=0.7.19=pypi_0
cohere=5.13.11=pypi_0
colorama=0.4.6=pypi_0
coloredlogs=15.0.1=pypi_0
colorlog=6.9.0=pypi_0
comm=0.2.2=pyhd8ed1ab_1
composio-core=0.6.13=pypi_0
composio-langchain=0.6.13=pypi_0
coolname=2.2.0=pypi_0
crewai=0.86.0=pypi_0
crewai-tools=0.25.5=pypi_0
cryptography=43.0.3=pypi_0
dataclasses-json=0.6.5=py310hca03da5_0
datasets=2.2.1=pypi_0
debugpy=1.6.7=py310h313beb8_0
decorator=5.1.1=pyhd8ed1ab_1
deepdiff=8.1.1=pypi_0
defusedxml=0.7.1=pypi_0
deprecated=1.2.17=pypi_0
deprecation=2.1.0=pypi_0
dill=0.3.9=pypi_0
diskcache=5.6.3=pypi_0
distro=1.9.0=pypi_0
dnspython=2.7.0=pypi_0
docker=7.1.0=pypi_0
docstring-parser=0.16=pypi_0
docx2txt=0.8=pypi_0
dspy=2.5.7=pypi_0
dspy-ai=2.5.41=pypi_0
duckdb=1.1.3=pypi_0
duckduckgo-search=7.2.1=pypi_0
durationpy=0.9=pypi_0
e2b=1.0.5=pypi_0
e2b-code-interpreter=1.0.4=pypi_0
ecdsa=0.19.0=pypi_0
elastic-transport=8.17.0=pypi_0
elasticsearch=8.16.0=pypi_0
embedchain=0.1.125=pypi_0
emoji=2.14.1=pypi_0
environs=9.5.0=pypi_0
et-xmlfile=2.0.0=pypi_0
eval-type-backport=0.2.2=pypi_0
events=0.5=pypi_0
exceptiongroup=1.2.0=py310hca03da5_0
executing=2.1.0=pyhd8ed1ab_1
faiss-cpu=1.9.0.post1=pypi_0
fake-useragent=1.5.1=pypi_0
fastapi=0.115.7=pypi_0
fastapi-pagination=0.12.34=pypi_0
fastavro=1.9.7=pypi_0
filelock=3.17.0=pypi_0
filetype=1.2.0=pypi_0
finnhub-python=2.4.22=pypi_0
firecrawl-py=1.10.2=pypi_0
flaml=2.3.3=pypi_0
flatbuffers=25.1.21=pypi_0
frozendict=2.4.6=pypi_0
frozenlist=1.5.0=py310h80987f9_0
fsspec=2024.12.0=pypi_0
future=1.0.0=pypi_0
geomet=0.2.1.post1=pypi_0
gitdb=4.0.11=pypi_0
gitpython=3.1.43=pypi_0
google-ai-generativelanguage=0.6.15=pypi_0
google-api-core=2.24.0=pypi_0
google-api-python-client=2.154.0=pypi_0
google-auth=2.38.0=pypi_0
google-auth-httplib2=0.2.0=pypi_0
google-auth-oauthlib=1.2.1=pypi_0
google-cloud-aiplatform=1.78.0=pypi_0
google-cloud-bigquery=3.29.0=pypi_0
google-cloud-core=2.4.1=pypi_0
google-cloud-resource-manager=1.14.0=pypi_0
google-cloud-storage=2.19.0=pypi_0
google-crc32c=1.6.0=pypi_0
google-generativeai=0.8.4=pypi_0
google-resumable-media=2.7.2=pypi_0
google-search-results=2.4.2=pypi_0
googleapis-common-protos=1.66.0=pypi_0
gotrue=2.11.2=pypi_0
gptcache=0.1.44=pypi_0
grandalf=0.8=pypi_0
greenlet=3.1.1=py310h313beb8_0
griffe=1.5.5=pypi_0
groq=0.15.0=pypi_0
grpc-google-iam-v1=0.14.0=pypi_0
grpcio=1.70.0=pypi_0
grpcio-health-checking=1.70.0=pypi_0
grpcio-status=1.70.0=pypi_0
grpcio-tools=1.70.0=pypi_0
gunicorn=23.0.0=pypi_0
h11=0.14.0=py310hca03da5_0
h2=4.1.0=pypi_0
hpack=4.1.0=pypi_0
html5lib=1.1=pypi_0
httpcore=1.0.7=pypi_0
httplib2=0.22.0=pypi_0
httptools=0.6.4=pypi_0
httpx=0.28.1=pypi_0
httpx-sse=0.4.0=py310hca03da5_0
huggingface-hub=0.27.1=pypi_0
humanfriendly=10.0=pypi_0
hyperframe=6.1.0=pypi_0
idna=3.7=py310hca03da5_0
ijson=3.3.0=pypi_0
importlib-metadata=8.5.0=pyha770c72_1
importlib-resources=6.5.2=pypi_0
inflection=0.5.1=pypi_0
iniconfig=2.0.0=pypi_0
instructor=1.5.2=pypi_0
ipykernel=6.29.5=pyh57ce528_0
ipython=8.31.0=pyh707e725_0
jaraco-context=6.0.1=pypi_0
jedi=0.19.2=pyhd8ed1ab_1
jinja2=3.1.5=pypi_0
jiter=0.5.0=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.4.2=pypi_0
jq=1.8.0=pypi_0
json-repair=0.30.3=pypi_0
jsonpatch=1.33=py310hca03da5_1
jsonpath-python=1.0.6=pypi_0
jsonpickle=4.0.1=pypi_0
jsonpointer=2.1=pyhd3eb1b0_0
jsonref=1.1.0=pypi_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2024.10.1=pypi_0
jupyter_client=8.6.3=pyhd8ed1ab_1
jupyter_core=5.7.2=pyh31011fe_1
kubernetes=31.0.0=pypi_0
lancedb=0.18.0=pypi_0
langchain=0.3.13=pypi_0
langchain-anthropic=0.3.0=pypi_0
langchain-astradb=0.5.2=pypi_0
langchain-aws=0.2.7=pypi_0
langchain-chroma=0.1.4=pypi_0
langchain-cohere=0.3.3=pypi_0
langchain-community=0.3.16=pypi_0
langchain-core=0.3.33=pypi_0
langchain-elasticsearch=0.3.0=pypi_0
langchain-experimental=0.3.4=pypi_0
langchain-google-calendar-tools=0.0.1=pypi_0
langchain-google-community=2.0.3=pypi_0
langchain-google-genai=2.0.6=pypi_0
langchain-google-vertexai=2.0.7=pypi_0
langchain-groq=0.2.1=pypi_0
langchain-milvus=0.1.7=pypi_0
langchain-mistralai=0.2.3=pypi_0
langchain-mongodb=0.2.0=pypi_0
langchain-nvidia-ai-endpoints=0.3.5=pypi_0
langchain-ollama=0.2.1=pypi_0
langchain-openai=0.2.12=pypi_0
langchain-pinecone=0.2.2=pypi_0
langchain-tests=0.3.9=pypi_0
langchain-text-splitters=0.3.4=pypi_0
langchain-unstructured=0.1.5=pypi_0
langchainhub=0.1.21=pypi_0
langflow=1.1.2=pypi_0
langflow-base=0.1.2=pypi_0
langfuse=2.53.9=pypi_0
langsmith=0.1.147=py310hca03da5_0
langwatch=0.1.16=pypi_0
lark=1.2.2=pypi_0
libcxx=14.0.6=h848a8c0_0
libffi=3.4.4=hca03da5_1
libgfortran=5.0.0=11_3_0_hca03da5_28
libgfortran5=11.3.0=h009349e_28
libopenblas=0.3.21=h269037a_0
libsodium=1.0.18=h27ca646_1
litellm=1.54.1=pypi_0
llvm-openmp=14.0.6=hc6e5704_0
logfire-api=3.3.0=pypi_0
loguru=0.7.3=pypi_0
lsprotocol=2023.0.1=pypi_0
lxml=5.3.0=pypi_0
lz4=4.3.3=pypi_0
magicattr=0.1.6=pypi_0
mako=1.3.8=pypi_0
markdown=3.7=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=3.0.2=pypi_0
marshmallow=3.19.0=py310hca03da5_0
matplotlib-inline=0.1.7=pyhd8ed1ab_1
mcp=1.1.3=pypi_0
mdurl=0.1.2=pypi_0
mem0ai=0.1.34=pypi_0
metal-sdk=2.5.1=pypi_0
metaphor-python=0.1.23=pypi_0
milvus-lite=2.4.11=pypi_0
mistralai=1.4.0=pypi_0
mmh3=5.0.1=pypi_0
monotonic=1.6=pypi_0
more-itertools=10.6.0=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.1.0=py310h80987f9_0
multiprocess=0.70.17=pypi_0
multitasking=0.0.11=pypi_0
mypy_extensions=1.0.0=py310hca03da5_0
nanoid=2.0.0=pypi_0
narwhals=1.19.1=pypi_0
ncurses=6.4=h313beb8_0
needle-python=0.4.0=pypi_0
nest-asyncio=1.6.0=pyhd8ed1ab_1
networkx=3.4.2=pypi_0
nltk=3.9.1=pypi_0
nodeenv=1.9.1=pypi_0
numexpr=2.10.2=pypi_0
numpy=1.26.4=py310h3b2db8e_0
numpy-base=1.26.4=py310ha9811e2_0
oauthlib=3.2.2=pypi_0
ollama=0.4.7=pypi_0
onnxruntime=1.20.1=pypi_0
openai=1.60.1=pypi_0
openinference-instrumentation=0.1.21=pypi_0
openinference-instrumentation-langchain=0.1.29=pypi_0
openinference-semantic-conventions=0.1.12=pypi_0
openpyxl=3.1.5=pypi_0
opensearch-py=2.8.0=pypi_0
openssl=3.4.0=h39f12f2_0
opentelemetry-api=1.29.0=pypi_0
opentelemetry-exporter-otlp=1.29.0=pypi_0
opentelemetry-exporter-otlp-proto-common=1.29.0=pypi_0
opentelemetry-exporter-otlp-proto-grpc=1.29.0=pypi_0
opentelemetry-exporter-otlp-proto-http=1.29.0=pypi_0
opentelemetry-exporter-prometheus=0.50b0=pypi_0
opentelemetry-instrumentation=0.50b0=pypi_0
opentelemetry-instrumentation-asgi=0.50b0=pypi_0
opentelemetry-instrumentation-fastapi=0.50b0=pypi_0
opentelemetry-proto=1.29.0=pypi_0
opentelemetry-sdk=1.29.0=pypi_0
opentelemetry-semantic-conventions=0.50b0=pypi_0
opentelemetry-util-http=0.50b0=pypi_0
optuna=4.2.0=pypi_0
orderly-set=5.2.3=pypi_0
orjson=3.10.0=pypi_0
outcome=1.3.0.post0=pypi_0
overrides=7.7.0=pypi_0
packaging=24.2=py310hca03da5_0
pandas=2.2.2=pypi_0
paramiko=3.5.0=pypi_0
parso=0.8.4=pyhd8ed1ab_1
passlib=1.7.4=pypi_0
pdfminer-six=20231228=pypi_0
pdfplumber=0.11.5=pypi_0
peewee=3.17.8=pypi_0
pexpect=4.9.0=pyhd8ed1ab_1
pgvector=0.3.6=pypi_0
pickleshare=0.7.5=pyhd8ed1ab_1004
pillow=10.4.0=pypi_0
pinecone=5.4.2=pypi_0
pinecone-plugin-inference=3.1.0=pypi_0
pinecone-plugin-interface=0.0.7=pypi_0
pip=24.2=py310hca03da5_0
platformdirs=4.3.6=pyhd8ed1ab_1
playwright=1.49.1=pypi_0
pluggy=1.5.0=pypi_0
portalocker=2.10.1=pypi_0
postgrest=0.16.11=pypi_0
posthog=3.10.0=pypi_0
primp=0.10.1=pypi_0
prometheus-client=0.21.1=pypi_0
prompt-toolkit=3.0.48=pyha770c72_1
propcache=0.2.0=py310h80987f9_0
proto-plus=1.25.0=pypi_0
protobuf=5.29.2=pypi_0
psutil=5.9.0=py310h1a28f6b_0
psycopg=3.2.4=pypi_0
psycopg-binary=3.2.4=pypi_0
psycopg2-binary=2.9.10=pypi_0
ptyprocess=0.7.0=pyhd8ed1ab_1
pure_eval=0.2.3=pyhd8ed1ab_1
py=1.11.0=pypi_0
pyarrow=17.0.0=pypi_0
pyasn1=0.6.1=pypi_0
pyasn1-modules=0.4.1=pypi_0
pyautogen=0.5.3=pypi_0
pycparser=2.22=pypi_0
pycryptodome=3.21.0=pypi_0
pydantic=2.10.3=py310hca03da5_0
pydantic-ai=0.0.20=pypi_0
pydantic-ai-slim=0.0.20=pypi_0
pydantic-core=2.27.1=py310h2aea54e_0
pydantic-graph=0.0.20=pypi_0
pydantic-settings=2.4.0=pypi_0
pydeck=0.9.1=pypi_0
pyee=12.0.0=pypi_0
pygments=2.18.0=pyhd8ed1ab_1
pyjwt=2.10.1=pypi_0
pylance=0.22.0=pypi_0
pymilvus=2.4.9=pypi_0
pymongo=4.10.1=pypi_0
pymupdf=1.25.2=pypi_0
pynacl=1.5.0=pypi_0
pyparsing=3.2.1=pypi_0
pypdf=5.1.0=pypi_0
pypdfium2=4.30.1=pypi_0
pyperclip=1.9.0=pypi_0
pypika=0.48.9=pypi_0
pyproject-hooks=1.2.0=pypi_0
pyright=1.1.392.post0=pypi_0
pysbd=0.3.4=pypi_0
pysher=1.0.8=pypi_0
pysocks=1.7.1=py310hca03da5_0
pytest=8.3.4=pypi_0
pytest-asyncio=0.25.2=pypi_0
pytest-socket=0.7.0=pypi_0
python=3.10.16=hb885b13_1
python-dateutil=2.9.0post0=py310hca03da5_2
python-docx=1.1.2=pypi_0
python-dotenv=1.0.1=pypi_0
python-jose=3.3.0=pypi_0
python-lsp-jsonrpc=1.1.2=pypi_0
python-multipart=0.0.20=pypi_0
python-tzdata=2023.3=pyhd3eb1b0_0
pytube=15.0.0=pypi_0
pytz=2024.1=py310hca03da5_0
pyvis=0.3.2=pypi_0
pyyaml=6.0.2=py310h80987f9_0
pyzmq=26.2.0=py310h313beb8_0
qdrant-client=1.9.2=pypi_0
qianfan=0.3.5=pypi_0
ragstack-ai-knowledge-store=0.2.1=pypi_0
readline=8.2=h1a28f6b_0
realtime=1.0.6=pypi_0
redis=5.2.1=pypi_0
referencing=0.35.1=pypi_0
regex=2024.11.6=pypi_0
requests=2.32.3=py310hca03da5_1
requests-oauthlib=2.0.0=pypi_0
requests-toolbelt=1.0.0=py310hca03da5_0
responses=0.18.0=pypi_0
retry=0.9.2=pypi_0
rich=13.9.4=pypi_0
rpds-py=0.22.3=pypi_0
rsa=4.9=pypi_0
ruff=0.9.3=pypi_0
s3transfer=0.10.4=pypi_0
schema=0.7.7=pypi_0
scrapegraph-py=1.10.2=pypi_0
selenium=4.27.1=pypi_0
semver=3.0.4=pypi_0
sentry-sdk=2.20.0=pypi_0
serpapi=0.1.5=pypi_0
setuptools=75.1.0=py310hca03da5_0
shapely=2.0.6=pypi_0
shellingham=1.5.4=pypi_0
simsimd=6.2.1=pypi_0
six=1.16.0=pyhd3eb1b0_1
smmap=5.0.1=pypi_0
sniffio=1.3.0=py310hca03da5_0
sortedcontainers=2.4.0=pypi_0
soupsieve=2.6=pypi_0
spider-client=0.1.24=pypi_0
sqlalchemy=2.0.37=pypi_0
sqlite=3.45.3=h80987f9_0
sqlmodel=0.0.22=pypi_0
sse-starlette=2.2.1=pypi_0
sseclient-py=1.8.0=pypi_0
stack_data=0.6.3=pyhd8ed1ab_1
starlette=0.45.3=pypi_0
storage3=0.7.7=pypi_0
streamlit=1.41.1=pypi_0
strenum=0.4.15=pypi_0
structlog=25.1.0=pypi_0
supabase=2.6.0=pypi_0
supafunc=0.5.1=pypi_0
sympy=1.13.3=pypi_0
syrupy=4.8.1=pypi_0
tabulate=0.9.0=pypi_0
tavily-python=0.5.1=pypi_0
tenacity=8.5.0=pypi_0
termcolor=2.5.0=pypi_0
tiktoken=0.7.0=pypi_0
tk=8.6.14=h6ba3021_0
tokenizers=0.20.3=pypi_0
toml=0.10.2=pypi_0
tomli=2.2.1=pypi_0
tomli-w=1.2.0=pypi_0
tornado=6.4.2=py310h80987f9_0
tqdm=4.67.1=pypi_0
traitlets=5.14.3=pyhd8ed1ab_1
tree-sitter=0.23.2=pypi_0
tree-sitter-python=0.23.6=pypi_0
trio=0.28.0=pypi_0
trio-websocket=0.11.1=pypi_0
typer=0.15.1=pypi_0
types-cachetools=5.5.0.20240820=pypi_0
types-requests=2.32.0.20241016=pypi_0
typing-extensions=4.12.2=py310hca03da5_0
typing_extensions=4.12.2=py310hca03da5_0
typing_inspect=0.9.0=py310hca03da5_0
tzdata=2024b=h04d1e81_0
ujson=5.10.0=pypi_0
uncurl=0.0.11=pypi_0
unstructured-client=0.25.9=pypi_0
upstash-vector=0.6.0=pypi_0
uritemplate=4.1.1=pypi_0
urllib3=2.2.3=py310hca03da5_0
uuid6=2024.7.10=pypi_0
uv=0.5.24=pypi_0
uvicorn=0.34.0=pypi_0
uvloop=0.21.0=pypi_0
validators=0.34.0=pypi_0
watchfiles=1.0.4=pypi_0
wcwidth=0.2.13=pyhd8ed1ab_1
weaviate-client=4.10.2=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.8.0=pypi_0
websockets=12.0=pypi_0
wheel=0.44.0=py310hca03da5_0
wikipedia=1.4.0=pypi_0
wolframalpha=5.1.3=pypi_0
wrapt=1.17.2=pypi_0
wsproto=1.2.0=pypi_0
xmltodict=0.14.2=pypi_0
xxhash=3.5.0=pypi_0
xz=5.4.6=h80987f9_1
yaml=0.2.5=h1a28f6b_0
yarl=1.18.0=py310h80987f9_0
yfinance=0.2.50=pypi_0
youtube-transcript-api=0.6.3=pypi_0
zep-python=2.0.2=pypi_0
zeromq=4.3.5=h313beb8_0
zipp=3.21.0=pyhd8ed1ab_1
zlib=1.2.13=h18a0788_1
zstandard=0.23.0=pypi_0
